body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    background-image: url('baliklar.jpg'); /* Balık temalı arka plan resmi */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}